<div class="task-container">

  <div class="task-header">
    <h1>My Tasks</h1>

    <button class="add-button" (click)="addTask()">
      + Add Task
    </button>
    
  </div>
  
    @if (showForm) {
    <form class="task-form" [formGroup]="taskForm" (ngSubmit)="submitTask()">

      <h2>Add New Task</h2>

      <label>Title</label>
      <input type="text" formControlName="title">

      <label>Description</label>
      <textarea></textarea>

      <label>Status</label>
      <select formControlName="status">
        <option value="todo">To Do</option>
        <option value="in-progress">In Progress</option>
        <option value="completed">Completed</option>
      </select>

      <label>Priority</label>
      <select formControlName="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>

      <label>Due Date</label>
      <input type="date" formControlName="dueDate">

      <label>Category</label>
      <input type="text"formControlName="category">


      <button type="submit">
        Add Task
      </button>

    </form>
  }

  @for (task of tasks; track task.id) {

    <div class="task-card">

      <h2>{{ task.title }}</h2>

      <p>{{ task.description }}</p>

      <div class="task-info">
        <span>Status: {{ task.status }}</span>
        <span>Priority: {{ task.priority }}</span>
        <span>Due: {{ task.dueDate }}</span>
      </div>

    </div>

  }

</div>